.foucs-package-container {
  padding: 120px 0 620px;
  position: relative;
  @media (max-width: 767px) {
    padding: 80px 24px 300px;
  }
  @media (max-width: 575px) {
    padding: 80px 24px 576px;
  }
}
.title-for-focus-package {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.focus-package-card-container {
  position: absolute;
  top: 280px;
  left: 50%;
  transform: translateX(-50%);
  @media (max-width: 767px) {
    top: 232px;
  }
}
.focus-package-card {
  position: relative;
  max-width: 440px;
  width: 100%;
  padding: 40px;
  border-radius: 32px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  background: rgba(19, 15, 26, 0.18);
  box-shadow:
    9.641px 22.248px 48.204px 0 rgba(0, 0, 0, 0.4),
    -2.966px 9.641px 23.731px 0 rgba(255, 255, 255, 0.03) inset;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.glow-wrapper {
  position: absolute;
  top: -12px;
  right: -12px;
  z-index: 2;
  pointer-events: none; // prevents hover issues
}

.focus-package-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
  z-index: 1; // below the star
}
.package-name-volume {
  display: flex;
  flex-direction: column;
  gap: 8px;
  .body {
    color: #fff;
  }
  .body-one {
    color: #fff;
  }
}
.package-points-deck {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.package-point {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.package-point-bullet {
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
