.connection-drawer-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 101;
  display: flex;
  justify-content: flex-end; // Drawer slides from right
  overflow-y: auto;
}

.connection-drawer {
  width: 100%;
  max-width: 500px;
  height: 100%;
  background-color: #19191a;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: white;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.form-group {
  display: flex;
  flex-direction: column;

  label {
    font-weight: 500;
    margin-bottom: 0.25rem;
    color: white;
  }

  input,
  select {
    padding: 0.6rem 0.8rem;
    border: 1px solid #616161;
    background-color: #19191a;
    border-radius: 8px;
    font-size: 1rem;
    color: white;
    &:focus {
      outline: none;
      border-color: #2fbf9b;
      box-shadow: 0 0 0 2px rgba(47, 191, 155, 0.2);
    }
  }
}

.submit-btn {
  width: 100%;
  background-color: #2fbf9b;
  color: white;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: auto;

  &:hover {
    background-color: #149272;
  }
}

.close-btn {
  position: absolute;
  top: 16px;
  right: 24px;
  background: transparent;
  cursor: pointer;
  color: #fff;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 100%;
  padding: 12px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
