.success-story-details-container {
  padding: 120px 0px 64px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 870px;
  width: 100%;
  @media (max-width: 767px) {
    padding: 80px 16px;
  }
}

.details-thumbnail {
  width: 100%;
  height: 480px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
