.product-card {
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  height: 100%; // full height to make all cards equal
  overflow: hidden;
  border-radius: 12px;
  text-decoration: none;
  color: #fff;

  .product-card-image {
    width: 100%;
    height: 220px;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
    .discount-chip {
      position: absolute;
      top: 12px;
      left: 0;
      background-color: #f44336;
      color: #fff;
      padding: 4px 8px;
      font-size: 12px;
      font-weight: 600;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }

  .product-card-lower-part {
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  .product-card-info {
    display: flex;
    flex-direction: column;

    .product-name {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      min-height: calc(1.2em * 2 + 8px);
    }
  }

  .product-highlights {
    font-size: 13px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    li:empty {
      list-style-type: none;
    }
  }

  .product-card-action {
    margin-top: auto;
    display: flex;
    flex-direction: column;
  }

  .price-divider {
    height: 1px;
    background: #444;
    margin: 12px 0;
  }

  .price-row {
    p {
      margin: 0;
      font-size: 18px;
      font-weight: bold;

      .original-price {
        text-decoration: line-through;
        color: #999;
        font-weight: 400;
        margin-left: 8px;
      }
    }
  }

  .pre-order-button {
    margin-top: 12px;

    .button {
      width: 100%;
    }
  }
}
