.shop-page-container {
  padding: 120px 24px;
}
.shop-page-header {
  position: relative;
  display: flex;
  justify-content: center; /* centers the h4 by default */
  align-items: center;
  text-align: center;
  padding: 0 1rem;

  button {
    position: absolute;
    left: 0;
  }

  p {
    position: absolute;
    right: 0;
  }

  h4 {
    margin: 0;
  }
}
.product-filter-button {
  background-color: #36d6b631;
  color: var(--primary-500);
  width: 120px;
  border-radius: 8px;
  border: none;
}
.filter-data-set {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  padding: 24px 0px;
}
.filter-data-chip {
  padding: 4px 16px;
  border: 1px solid var(--primary-500);
  color: var(--primary-500);
  width: fit-content;
  border-radius: 8px;
  p {
    margin: 0;
    font-size: 14px;
  }
}
.filter-clear-button {
  padding: 4px 16px;
  background-color: rgba(255, 0, 0, 0.271);
  color: red;
  border: none;
  border-radius: 8px;
}

//  Filter Drawer

.filter-overlay {
  position: fixed;
  inset: 0;
  z-index: 1000;
}

/* Dark background */
.overlay-bg {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

/* Left Drawer */
.filter-panel {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 320px;
  background: #ffffff;
  color: #070708;
  z-index: 1001;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

/* Header */
.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  border-bottom: 1px solid #eee;
}

.filter-title {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.filter-close-btn {
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
}

/* Content */
.filter-content {
  padding: 16px 24px;
}

// Sksleton

.skeleton {
  background: #e0e0e032;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}

/* Shimmer Animation */
.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 150px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.075),
    transparent
  );
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  100% {
    left: 100%;
  }
}

/* Card Layout */
.product-skeleton-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Image Skeleton */
.skeleton.image {
  width: 100%;
  height: 200px;
}

/* Title Skeleton */
.skeleton.title {
  width: 70%;
  height: 18px;
}

/* Text Skeleton (price) */
.skeleton.text {
  width: 40%;
  height: 14px;
}

/* Button Skeleton */
.skeleton.button {
  width: 60%;
  height: 36px;
  margin-top: 5px;
}
