.corporate-package-container {
  padding: 120px 0px;
  @media (max-width: 767px) {
    padding: 60px 16px;
  }
}
.title-for-corporate-package {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 48px;
}

.corporate-package-card {
  margin: auto;
  position: relative;
  max-width: 440px;
  width: 100%;
  max-width: 380px;
  padding: 40px;
  border-radius: 32px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  background: rgba(19, 15, 26, 0.18);
  box-shadow:
    9.641px 22.248px 48.204px 0 rgba(0, 0, 0, 0.4),
    -2.966px 9.641px 23.731px 0 rgba(255, 255, 255, 0.03) inset;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  gap: 32px;
  overflow: hidden;
}

.famous-package {
  transform: scale(1.15);
}
.glow-wrapper-two {
  position: absolute;
  top: -248px; // placement above the card
  left: 50%; // center horizontally if needed
  transform: translateX(-50%);
  z-index: -1; // place behind all content
  pointer-events: none;
}

.corporate-package-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
  z-index: 1; // below the star
}
.package-name-volume {
  display: flex;
  flex-direction: column;
  gap: 8px;
  .body {
    color: #fff;
  }
  .body-one {
    color: #fff;
  }
}
.package-points-deck {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.package-point {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.package-point-bullet {
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
