.soc-container {
  padding: 64px 0px;
  @media (max-width: 991px) {
    padding: 40px 16px;
  }
}
.soc-content {
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  p {
    font-size: 18px;
    margin: 0px;
  }
}
.soc-chip {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  p {
    margin: 0px;
    font-size: 18px;
    background: linear-gradient(180deg, #2fbf9b 0%, #138367 100%);
    font-weight: 700;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}
.soc-content-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  h4 {
    font-size: 40px;
  }
}
.soc-points-deck {
  display: flex;
  flex-direction: column;
  gap: 8px;
  p {
    font-size: 18px;
  }
}
.soc-graphic-content {
  position: relative;
  height: 584px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Background vector (full height, centered) */
.vector-svg {
  object-fit: contain;
  z-index: 1;
}

/* Center SOC image */
.soc-center-svg {
  position: relative;
  z-index: 2;
  height: auto;
  max-height: 70%;
  width: auto;
}
.button-deck-soc {
  padding-top: 24px;
}
