.map-svg-part {
  position: relative;
  width: 100%;
  max-width: 872px;
  aspect-ratio: 16 / 9;
  overflow: visible;
}

/* Radar Wrapper */
.map-radar {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: clamp(280px, 50vw, 560px);
  aspect-ratio: 2 / 1;

  pointer-events: none;
}

/* Radar Image */
.radar-img {
  object-fit: contain;
}

.starlink-backed-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  align-items: center;
  padding: 64px 0px;
  @media (max-width: 767px) {
    padding: 40px 16px;
  }
}
.starlink-backed-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  .starlink-backed-h3 {
    font-size: 40px;
    @media (max-width: 767px) {
      font-size: 32px;
    }
  }
  .starlink-backed-body {
    font-size: 20px;
    width: 100%;
    max-width: 860px;
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
}
.starlink-backed-header {
  display: inline-flex;
  padding: 12px;
  align-items: center;
  gap: 12px;
  border-radius: 16px;
  border: 1px solid #042b22;
}
.starlink-chip {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  @media (max-width: 767px) {
    font-size: 16px;
  }
}
