.hero-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero-section-content {
  position: relative;
  z-index: 3;
  max-width: 800px;
  width: 100%;
  margin: auto;
  padding-top: 15%;

  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  text-align: center;
}

.hero-container svg {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  max-width: 1920px;
  height: auto;

  z-index: 1;
  pointer-events: none;
}

.snow-wrapper {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 2;
}

.snowflake {
  position: absolute;
  top: -10%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);

  animation-name: snow-fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* fall animation using dynamic --drift variable */
@keyframes snow-fall {
  0% {
    transform: translate(0, -10%);
  }

  100% {
    transform: translate(var(--drift, 0px), 140vh);
  }
}
.extra-style-for-h2 {
  color: var(--primary-500);
}
