.hero-container {
  position: relative;
  height: 100vh;
  overflow: hidden;

  @media (max-width: 767px) {
    height: 75vh;
  }
}

.hero-section-content {
  position: relative;
  z-index: 3;
  max-width: 800px;
  width: 100%;
  margin: auto;
  padding-top: clamp(240px, 36vh, 440px);
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  text-align: center;
}

/* ================= GRADIENT ================= */

.hero-gradient-wrapper {
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1920px;
  height: 100%;
  z-index: 1;
  pointer-events: none;

  img {
    object-fit: contain;
    object-position: center;
    opacity: 0.4;
    mix-blend-mode: screen;
    filter: brightness(0.6) saturate(0.5);
  }
}

/* ================= TEXT ================= */

.extra-style-for-h2 {
  color: var(--primary-500);
}

.hero-subtitle {
  width: 100%;
  max-width: 580px;
  margin: auto;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
}

/* ================= UNDERLINE ================= */

.internet-wrapper {
  position: relative;
  display: inline-block;
}

.internet-text {
  position: relative;
  z-index: 2;
}

/* NEW underline system */
.underline-wrapper {
  position: absolute;
  left: 50%;
  bottom: -0.4em; /* 👈 relative to font size */
  transform: translateX(-50%);
  width: 110%; /* slightly wider than text */
  height: auto;
  z-index: 1;
  pointer-events: none;
  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
